input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.panel {
  background-color: white;
  border: 1px solid black;
  border-radius: inherit;
  -moz-box-shadow: 3px 5px 6px #acacac;
  -webkit-box-shadow: 3px 5px 6px #acacac;
  box-shadow: 3px 5px 6px #acacac;
  margin-bottom: 25px;
}

img {
  width: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-left: 20px;
}

.blue-button, .white-button {
  width: 100%;
  font-size: 24px;
}

.blue-button {
  color: white;
  background-color: #026BB1;
  border: 2px solid #026BB1;
}

.blue-button:hover {
  color: #026BB1 !important;
  background-color: white !important;
  border: 2px solid #026BB1;
}

.white-button {
  color: #026BB1 !important;
  background-color: white !important;
  border: 2px solid #026BB1;
}

.white-button:hover {
  color: white !important;
  background-color: #026BB1 !important;
}

@media screen and (max-width: 575px) {
  img {
    margin-bottom: 15px;
  }

  .blue-button, .white-button {
    width: 100%;
    font-size: 14px;
  }
}

.row {
  margin-bottom: 10px;
}

span {
  color: black;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background-color: #00CC88;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background-color: #009688;
  left: 20px;
}
