<div>
  <div>



    <table class="auth-header">
      <tr>
        <td class="auth-header-first-row">
          Cos'è Sistemapiemonte | Cersa
          <a class="servizi-privati">SERVIZI PER PRIVATI</a>
          <a class="servizi-la-pa">SERVIZI PER LA PA</a>
        </td>
      </tr>

      <tr>
        <td class="auth-header-second-row">
          Sistemapiemonte
        </td>
      </tr>

      <tr>
        <td class="auth-header-third-row">
          Autenticazione
        </td>
      </tr>

      <tr>
        <td class="auth-header-fourth-row">
          SISTEMA PIEMONTE » AUTENTICAZIONE
        </td>
      </tr>
    </table>
  </div>

  <div class="accesso-ai-servizi-label">
    Accesso ai servizi
  </div>

  <form name="loginNamePass">
    <table class="form-table">

      <tr>
        <td colspan=2><h3>Accesso tramite username e password</h3></td>
      </tr>

      <tr>
        <td class="form-row">Username</td>
        <td>
          <label>
            <input type="text" name="Username" class="input">
          </label>
        </td>
      </tr>

      <tr>
        <td class="form-row">Password</td>
        <td>
          <label>
            <input type="password" name="Password" class="input">
          </label>
        </td>
      </tr>

      <tr>
        <td><input type="submit" value="Accedi" class="accedi-button" routerLink="/home-operatore-deleghe"></td>
      </tr>

    </table>
  </form>

  <form name="loginNamePassPIN">
    <table class="form-table">

      <tr>
        <td colspan=2><h3>Accesso tramite username, password e PIN</h3></td>
      </tr>

      <tr>
        <td class="form-row">Username</td>
        <td>
          <label>
            <input type="text" name="Username" class="input">
          </label>
        </td>
      </tr>

      <tr>
        <td class="form-row">Password</td>
        <td>
          <label>
            <input type="password" name="Password" class="input">
          </label>
        </td>
      </tr>

      <tr>
        <td class="form-row">PIN</td>
        <td>
          <label>
            <input type="password" name="PIN" class="input">
          </label>
        </td>
      </tr>

      <tr>
        <td><input type="submit" value="Accedi" class="accedi-button" routerLink="/home-operatore-deleghe"></td>
      </tr>

    </table>
  </form>

  <form name="loginCertificato">
    <table class="form-table">

      <tr>
        <td colspan=2><h3>Accesso tramite certificato digitale o carta elettronica</h3></td>
      </tr>

      <tr>
        <td>Si prega di accertarsi che il certificato digitale sia configurato correttamente nel browser in uso. Solo in
          seguito cliccare il seguente pulsante Accedi.
        </td>
      </tr>

      <tr>
        <td><input type="submit" value="Accedi" class="accedi-button" routerLink="/home-operatore-deleghe"></td>
      </tr>

    </table>
  </form>

</div>
