<div class="row my-5 justify-content-center" *ngIf="!showContent()">
  <p-progressSpinner class="my-5" ></p-progressSpinner>
</div>

<div class="scelta-row" *ngIf="showContent()">
  <div class="scelta-row-item">

    <a style="text-decoration: none" [routerLink]="['/']">
      <i class="fa fa-arrow-left"></i>
      Home
    </a>
  </div>

  <div class="my-3">
    <p-messages [(value)]="msgs"></p-messages>
  </div>

  <h3 class="my-4">
    {{type}}: {{citizen.cognome}} {{citizen.nome}}
  </h3>

  <ng-container>
    <div class="panel">
      <form action="#">
        <div class="panel-container">
          <div style="width: 100%;">
            <div class="row" style="width: 100%;">
              <div class="col-12 row col-sm-6">
                <div class="col-12">Nome:
                  <span style="font-weight: bold;">{{citizen.nome}}</span>
                </div>

              </div>
              <div class="col-12 row col-sm-6">
                <div class="col-12">Cognome:
                  <span style="font-weight: bold;">{{citizen.cognome}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 row col-sm-6">
                <div class="col-12">Data di nascita:
                  <span style="font-weight: bold;">{{citizen.data_nascita | date: 'dd.MM.yyyy'}}</span>
                </div>
              </div>
              <div class="col-12 row col-sm-6">
                <div class="col-12">Codice fiscale:
                  <span style="font-weight: bold;">{{citizen.codice_fiscale}}</span>
                </div>
              </div>
            </div>

            <h5 class="my-4" style="margin-left: 2%;">
              Deleghe riferite a {{citizen.cognome}} {{citizen.nome}}:
            </h5>

            <div style="margin-left: 2%; margin-right: 2%; margin-bottom: 2%;">
            <p-treeTable [value]="tableData" [paginator]="true" [rows]="18" sortField="nPratica">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 55px;">N.Pratica
                  </th>

                  <th style="width: 70px;">Delegato
                  </th>
                  <th style="width: 60px;">Compilatore
                  </th>
                  <th style="width: 45px;">Codice
                  </th>
                  <th style="width: 60px;">Stato pratica
                  </th>
                  <th  style="width: 60px;">Data richiesta
                  </th>
                  <th   style="width: 60px;">Inizio Validità
                  </th>
                  <th  style="width: 60px;">Fine Validità
                  </th>
                  <th  style="width: 60px;">Stampa Riepilogo
                  </th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr style="text-align: center" [ngClass]="{'grey-row': rowNode.level == 1}">
                  <td style="align-items: center;">
                    <div style="display:flex; justify-content: center">
                      <span style="justify-content: center">{{rowData.nPratica? rowData.nPratica: "_"}} </span>
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="rowNode.level == 0"></p-treeTableToggler>
                    </div>
                  </td>

                  <td style="height: 60px;">
                    <a *ngIf="rowData.uuid" [routerLink]="['/tutte-pratiche', rowData.uuid, component]"
                       style="display: flex; justify-content: space-between; align-items: center; color: #0066FF; font-weight:500">
                      <span>{{rowData.delegato.nome}}<br>{{rowData.delegato.fiscal}}</span>
                    </a>
                  </td>
                  <td style="align-items: center;">{{rowData.compilatore ? rowData.compilatore : "_"}}</td>
                  <td style="align-items: center;">{{rowData.codice ? rowData.codice : "_"}}</td>
                  <td style="align-items: center;">{{rowData.statoPratica ? rowData.statoPratica : "_"}}</td>
                  <td
                    style="align-items: center;">{{rowData.dataRichiesta ? (rowData.dataRichiesta | date:'dd.MM.yyyy') : "_"}}</td>
                  <td
                    style="align-items: center;">{{rowData.inizioValidita ? (rowData.inizioValidita | date:'dd.MM.yyyy') : "_"}}</td>
                  <td
                    style="align-items: center;">{{rowData.fineValidita ? (rowData.fineValidita | date:'dd.MM.yyyy') : "_"}}</td>
                    <td>
                      <button class="white-button btn-outline-primary" (click)="print(rowData.uuid)">
                        Stampa
                      </button>
                    </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          </div>
        </div>
      </form>
    </div>


    <div class="row pull-right">
      <button class="btn btn-primary blue-button pull-right" [routerLink]="['/nuova-delega', component, fiscalCode]">Aggiungi delegato</button>
    </div>
  </ng-container>
</div>

