input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.stage, .stage-not-active {
  text-align: center;
  margin: auto;
}

.stage {
  color: #026BB1;
}

.stage-circle, .stage-circle-not-active {
  border: 2px solid #797979;
  border-radius: 50%;
  font-size: 22px;
  height: 40px;
  width: 40px;
  margin: auto;
}

.stage-circle {
  color: white;
  background-color: #026BB1;
}

.panel {
  background-color: white;
  border: 1px solid black;
  border-radius: inherit;
  -moz-box-shadow: 3px 5px 6px #acacac;
  -webkit-box-shadow: 3px 5px 6px #acacac;
  box-shadow: 3px 5px 6px #acacac;
  margin-bottom: 25px;
}

img {
  width: 100px;
  min-height: 100px;
  max-height: 100px;
  margin-left: 20px;
}

label {
  font-weight: 500;
  font-size: 20px;
}

.blue-button, .white-button {
  width: 100%;
  font-size: 24px;
}

.blue-button {
  color: white;
  background-color: #026BB1;
  border: 2px solid #026BB1;
}

.blue-button:hover {
  color: #026BB1 !important;
  background-color: white !important;
  border: 2px solid #026BB1;
}

.white-button {
  color: #026BB1 !important;
  background-color: white !important;
  border: 2px solid #026BB1;
}

.white-button:hover {
  color: white !important;
  background-color: #026BB1 !important;
}

@media screen and (max-width: 575px) {
  img {
    margin-bottom: 15px;
  }

  .blue-button, .white-button {
    width: 100%;
    font-size: 14px;
  }
}

.row {
  margin-bottom: 10px;
}

span {
  color: black;
}
